@import 'toastify.css';
@import 'sweetalert2.css';
* {
  margin: 0;
  outline: 0;
  padding: 0;
  border: none;
}
input,
span,
a,
img {
  display: inline-block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url('../font/Merienda-Regular.ttf') format('woff2');
}
body {
  font-family: 'Merienda', Tahoma, Verdana, sans-serif;
  font-size: 0.9rem;
  background-color: #00364b;
}
/*
====================== #form ======================
*/
#form,
#bookmarks li {
  background-color: #f2f7fd;
  border-radius: 4px;
  border: 1px solid #eff3f8;
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  padding: 30px;
}
#form h2 {
  color: #535353;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
#form label {
  color: #787878;
}
#form input {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  padding: 12px 10px;
  height: auto;
  color: #787878;
}
#form button {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  padding: 11px 10px 7px;
  font-size: 1rem;
}
#form .edit-btn {
  display: none;
}
#form .edit-btn button {
  width: 49%;
}
/*
====================== #bookmarks ======================
*/
#bookmarks {
  counter-reset: item;
}
#bookmarks li {
  list-style: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 1.1rem;
  min-height: 65px;
  vertical-align: middle;
  transition: transform 0.2s ease;
}
#bookmarks li::before {
  counter-increment: item;
  content: counter(item);
  display: block;
  font-size: 2.5rem;
  line-height: 1.2;
  transform: translateY(-1px);
  padding-right: 12px;
  color: #006991;
}
#bookmarks li.editing {
  transform: scale(1.05);
}
#bookmarks li.not-editing {
  opacity: 0.7;
}
#bookmarks li.editing span[title="Delete Item"],
#bookmarks li.not-editing span[title="Delete Item"] {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.2;
}
#bookmarks li p {
  padding: 5px 0;
}
#bookmarks li p.title {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 10px;
  text-transform: capitalize;
  line-height: 2.1;
  letter-spacing: 1px;
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
}
#bookmarks li p.buttons {
  flex-basis: 105px;
  text-align: right;
}
#bookmarks li span,
#bookmarks li a {
  cursor: pointer;
  filter: grayscale(0.4) brightness(0.95);
  transition: filter 0.2s ease;
}
#bookmarks li span:hover,
#bookmarks li a:hover {
  filter: grayscale(0) brightness(0.8);
}
#bookmarks li span:active,
#bookmarks li a:active {
  filter: grayscale(0) brightness(0.4);
}
#bookmarks li img {
  width: 30px;
  height: 30px;
}
